<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/index.css" type="text/css" rel="stylesheet" th:href="@{static/css/index.css}"/>

    <title>Rejestracja wycieczek</title>
</head>
<body>

<form th:action="@{/admin/addtrip}" th:object="${tripFormData}" method="post">

    <div class="uber-container">
        <div class="container">

            <label for="from">Skąd:</label>
            <select id="from" th:field="*{fromLocation}">
                <option th:each="fromLocation: ${cityList}" th:value="${fromLocation.getName()}"
                        th:text="${fromLocation.getName()}"></option>
            </select>
            <div class="error" th:errors="*{fromLocation}"></div>

            <label for="destiny">Dokąd:</label>
            <select id="destiny" th:field="*{destinyLocation}">
                <option th:each="destinyLocation: ${cityList}" th:value="${destinyLocation.getName()}"
                        th:text="${destinyLocation.getName()}"></option>
            </select>
            <div class="error" th:errors="*{destinyLocation}"></div>

            <label for="start">Data wyjazdu:</label>
            <input id="start" type="text" placeholder="yyyy-mm-dd" th:field="*{startDate}"/>
            <div class="error" th:errors="*{startDate}"></div>

            <label for="end">Data powrotu:</label>
            <input id="end" type="text" placeholder="yyyy-mm-dd" th:field="*{endDate}"/>
            <div class="error" th:errors="*{endDate}"></div>

            <label for="catering">Wyżywienie:</label>
            <select id="catering" th:field="*{catering}">
                <option th:each="catering : ${caterings}" th:value="${catering.symbol}" th:text="${catering}"></option>
            </select>
            <div class="error" th:errors="*{catering}"></div>

            <label for="priceAdult">Cena za dorosłego:</label>
            <input id="priceAdult" type="text" th:field="*{priceForAdult}"/>
            <div class="error" th:errors="*{priceForAdult}"></div>

            <label for="priceChild"> Cena za dziecko:</label>
            <input id="priceChild" type="text" style="align-content: center" th:field="*{priceForChild}"/>
            <div class="error" th:errors="*{priceForChild}"></div>

            <label> <input type="checkbox" th:field="*{promoted}" th:value="true"> Promocja</label>
            <div class="error" th:errors="*{promoted}"></div>

            <input type="submit" value="Wyślij">
        </div>
    </div>
</form>

</body>
</html>