<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Strona główna</title>
    <link href="../static/css/tripList.css" th:href="@{/css/tripList.css}" rel="stylesheet" />
</head>
<body>

<table border="5" align="center">
    <tr>
        <th>ID</th>
        <th>Skąd</th>
        <th>Dokąd</th>
        <th>Data wyjazdu</th>
        <th>Data powrotu</th>
        <th>Wyżywienie</th>
        <th>Cena za dorosłego</th>
        <th>Cena za dziecko</th>
    </tr>

    <tr th:each="trip,iterationStatus : ${trips}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${trip.fromLocation.getCity().getName()}">name</td>
        <td th:text="${trip.destinyLocation.getCity().getName()}">name</td>
        <td th:text="${trip.startDate}">name</td>
        <td th:text="${trip.endDate}">name</td>
        <td th:text="${trip.catering}">name</td>
        <td th:text="${trip.priceForAdult}">name</td>
        <td th:text="${trip.priceForChild}">name</td>
    </tr>

</table>


</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>